body { padding-top: 153px; }
.name {font-weight: bold; color:black;}
h3 {text-align: center;}
.row{color:darkseagreen;}
.nav-subrow, big{color:darkslategray;}
b {color: slategray;}
.social-btns {padding:0px;}
.social-btn {width:32px; height:32px; background: url("../img/btn-sprites.png") no-repeat; display:inline-block;}
.github-btn { background-position: -31px 0px; }
.navbar-fixed-top {background-color: white;}
.twitter-btn:hover{background-color: #4099FF; border-radius: 50px;}
.github-btn:hover{background-color: #C4AEAD; border-radius: 50px;}
.text-right {padding-right:5px;}
.bottom {padding-bottom:40px;}
@media print {
  .navbar-fixed-top {position:relative !important;}
  .social-btns {display:none;}
  .nav-subrow {margin-top:-35px;}
  small {font-size:8px !important;}
  hr {display:none;}
  body { padding-top: 0px; margin-top: -10px; font-size:12px !important;}
  .bodycontent {padding-left: 5px;}
  .col-sm-4, .col-xs-6 {width:33.3% !important;}
  h3,h2 {font-weight: bold !important;
    padding:5px 0px 5px 0px!important; margin:0px !important;}
  h3:before, h3:after {content: "----";}
  h3, h4 {font-size:12px !important;}
  .bottom{padding:0px;}
}