<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Alyssa Quek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Alyssa Quek resume">
    <meta name="author"      content="Alyssa Quek">
    <link rel="shortcut icon" href="/favicon.ico">
    <style type="text/css">
    .defer {display:none}
    h1 {color: rgb(175, 75, 195); text-align: center;}
    </style>
  </head>
  <body>
    <header class="navbar-fixed-top">
      <h1>Alyssa Quek</h1>
      <div class="container defer">
        <div class="nav-subrow row">
          <div class="col-xs-4 col-sm-4">
            <span class="hidden-xs">Singapore<br></span>
            <span class="visible-xs">+6584867050</span>
          </div>
          <div class="col-xs-4 col-sm-4 text-center">
            <ul class="social-btns">
              <li class="img-li">
                <a class="btn-link icon-twitter" href="https://twitter.com/alyssaquek" target="_blank"></a>
              </li>
              <li class="img-li hidden-xs">
                <a class="btn-link icon-printer" href="javascript:window.print()"></a>
              </li>
              <li class="img-li">
                <a class="btn-link icon-github" href="https://github.com/alyssaq" class="padding-left" target="_blank"></a>
              </li>
            </ul>
          </div>
          <div class="col-xs-4 col-sm-4 text-right">
            <span class="hidden-xs"> +65 8485 7050<br></span>
            <span class="visible-xs">alyssaquek <br>@gmail</span>
            <span class="hidden-xs">alyssaquek@gmail.com</span>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-xs-4 col-sm-4">
            <span class="hidden-xs"><a class="btn-link icon-printer text-left" href="javascript:window.print()"></a></span>
          </div>
          <div class="col-xs-4 col-sm-4 text-center">
            <button class="btn btn-primary hidden-print">Theme me!</button>
          </div>
          <div class="col-xs-4 col-sm-4"></div> -->
        </div>
      </div>
    </header>
    <section class="container bodycontent defer">
    {% block bodycontent %}
    {% endblock %}
    </section>
    <footer class="visible-print-block text-right defer">
      http://www.alyssa.asia
    </footer>

    <footer class="hidden-print text-center defer">
      <a class="purple1" href="https://github.com/alyssaq/alyssa.asia">
      Source code on github
      </a>
    </footer>
    <script type="text/javascript">
      (function(window) {
        var display_html = function() {
          Array.prototype.slice.call(document.querySelectorAll('.defer')).forEach(
            function(elem) {elem.style.display = 'block'});
        }
        var cb = function() {
          var sheets = ['css/bootstrap.min.css', 'css/main.css'];
          var h = document.getElementsByTagName('head')[0];
          sheets.forEach(function(sheet, i) {
            var l = document.createElement('link'); l.rel = 'stylesheet';
            l.href = sheet;
            l.onload = function() { if (i === 0) display_html(); }
            h.parentNode.insertBefore(l, h);
          });
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(cb);
        else window.addEventListener('load', cb);
      })(window);

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25781435-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
{% endautoescape %}
