{% extends "_base.html" %}
{% block bodycontent %}

<h2>
  I love <span class="purple1"> software development </span><br>
  <span class="purple2"> Python </span> &
  <span class="purple2"> Javascript </span> developer,
  <span class="purple2"> Computer Vision</span> explorer.
</h2>

<h3>When Im not Working</h3>
<hr>
<ul>
  <li>
  Created MVP website for dilivrIt (on-demand delivery service). Powered by Python Google App Engine with AngularJS, Bootstrap.  Built the mobile MVP.
  </li>
  <li>
  Built the MVP mobile-application with Titanium Alloy for a friend’s start-up over 3mths. Social makeup community.
  </li>
  <li>
  Building apps to: get directions to awesome food places in Singapore, digitize my stickies (square detection and OCR), webcam fun in the browser.
  </li>
  <li>
  Attending tech <a href="http://www.meetup.com/members/92014052/">meetups</a> conferences, hackathons, doing JS presentations such as <a href="https://github.com/alyssaq/face-find-fun">head-tracking with webRTC</a>, learning at <a href="http://coursera.org"> coursera </a> or <a href="https://www.khanacademy.org">khan academy</a>, experimenting with the latest web stuff (<a href="http://www.w3.org/TR/components-intro/">web components</a>, <a href="https://people.mozilla.org/~jorendorff/es6-draft.html">ES6</a>), computer vision and machine learning.</a>
  </li>
</ul>

<h3>Employment</h3>
<hr>
<div class="row">
  <div class="col-xs-4 col-sm-4">Solutions/Pre-sales Engineer</div>
  <div class="col-xs-4 col-sm-4 text-center">Integrated Research, Singapore <br>
    <small class="hidden-xs"> Public Company (IRI); 2 employees; IT industry </small>
  </div>
  <div class="col-xs-4 col-sm-4 text-right">May 2013 - Present</div>
</div>
<ul>
  <li>
  Expanded to Asia with one sales manager to strengthen and
  establish new industry partner relationships.
  </li>
  <li>
  Designed and deployed solutions to monitor large enterprise’s
  unified communications & virtualization environment.
  </li>
  <li>
  Taught a 2-week product training course to our new Asia partners.
  Promoted the product in industry trade shows.
  </li>
  <li>
  Lots of travel to customer-sites to perform demos to executive decision-makers.
  Collaborated with partners and end-customers to identify business & technical pains
  and tailor monitoring solutions.
  </li>
</ul>

<div class="row">
  <div class="col-xs-4 col-sm-4">Software Engineer</div>
  <div class="col-xs-4 col-sm-4 text-center">Integrated Research, Sydney <br>
    <small class="hidden-xs"> Public Company (IRI); ~200 employees; IT industry </small>
  </div>
  <div class="col-xs-4 col-sm-4 text-right">Feb 2011 – May 2013 (2 yrs 3mths)</div>
</div>
<ul>
  <li>
  Desktop application development in C++ and C for Prognosis (real-time cross-platform communications and infrastructure monitoring software) and in C# for the Windows configuration tool.
  </li>
  <li>
  Debugged and solved a bug in legacy C for a high-support tier customer (2 weeks including weeknights & weekends).
  </li>
  <li>
  Built enterprise web application from scratch using ASP.NET MVC framework. Worked in Agile-Scrum TDD in a team of 5-7.
  </li>
  <li>
  Web languages/tools: C#, WCF (build RESTful web service), FusionCharts (3rd-party lib for SVG charts), JQuery, Dojo, QUnit (JS unit tests), Selenium (web browser automation), ccm (measure JS complexity), SourceMonitor (C#, C++ complexity)
  </li>
  <li>
  Debugged browser memory leak in a 3rd-party charting library, reducing from exponential to logarithmic growth by freeing DOM references and reducing deeply nested views.
  </li>
  <li>
  Other Tools: SVN, Jira, Visual studio 2003/2010, in-house code-review tool.
  </li>
</ul>

<div class="row">
  <div class="col-xs-4 col-sm-4">Research Scholar</div>
  <div class="col-xs-4 col-sm-4 text-center">NICTA, Sydney <br>
    <small class="hidden-xs"> Non-profit; ~700 employees; Research industry </small>
  </div>
  <div class="col-xs-4 col-sm-4 text-right">Dec 2009 – Mar 2010 (4 mths)</div>
</div>

<b> Project Title: </b> Appearance-based Re-identification of People in Video (surveillance videos)
<ul>
  <li>
  Implemented a height estimation module for a human re-identification system in C++ and C, with OpenCV library.
  </li>
  <li>
  Researched a method that was free of camera calibration and for single-view videos. The final implemented algorithm used vanishing points from projective geometry. Attended annual CV camp for a week.
  </li>
</ul>

<h3>Education</h3>
<hr>
<div class="text-center row">University of Sydney </div>
<big>Bachelor of Information Technology (1st class Hons) </big> <br>
<b> Thesis: </b> Structural Image Classification with Graph Neural Networks <br>
<b> Publication: </b> <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=6128754&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6128754">Structural Image Classification with Graph Neural Networks </a> (DICTA; Dec 2011; pp. 416–421)
<br>
<b> University Honours/Awards: </b>
<br>
<ul>
  <li>
  Uni of Sydney Academic Merit Prize for the highest performing undergraduate based on average marks (2010)
  </li>
  <li>
  High Honor Roll by maintaining high distinction (over 85%) for the year (2009)
  </li>
  <li>
  Microsoft Research Asia Prize for Senior Software Development Projects Award. Built a self-assessment module for an open-source learning management system, Moodle. Worked in a group with 4 hard-working strangers (2009)
  </li>
</ul>
<b>Honours Coursework: </b> Knowledge discovery and data mining (machine learning); Multimedia storage & retrieval
(feature extraction, indexing, video streaming, compression, storage structures); parallel and distributed computing <br>
<b> Undergraduate Coursework: </b> OO design, graphics & digital media processing; management of IT projects & systems; human-computer interaction; algorithms; operating systems & machine principles; systems analysis & modeling.
<p class="bottom"></p>
{% endblock %}
