{% extends "_base.html" %}
{% block bodycontent %}

<h2>
  I architect systems to solve problems with <span class="purple1"> software </span>.
  <br>  Freelance
  <span class="purple2"> Python </span> &
  <span class="purple2"> Javascript </span> developer,
  <span class="purple2"> data</span> explorer.
</h2>

<h3>Side Ventures</h3>
<hr>
<ul>
  <li>
  Created MVP mobile app and website for dilivrIt (on-demand delivery service). Powered by Python Google App Engine with AngularJS, Bootstrap.
  </li>
  <li>
  Built the MVP mobile app with Titanium Alloy for a friend’s start-up over 3mths. Social makeup community.
  </li>
  <li>
  Working on open-source projects to: get directions to awesome food places in Singapore, digitize my stickies (square detection and OCR), find events with Facebook, meetup and gcal APIs.
  </li>
  <li>
  Attending tech <a href="http://www.meetup.com/members/92014052/">meetups</a>, conferences, hackathons, doing JS presentations such as <a href="https://github.com/alyssaq/face-find-fun">head-tracking with webRTC</a>, learning at <a href="http://coursera.org"> coursera </a> or <a href="https://www.khanacademy.org">khan academy</a>, contributing to open source, exploring <a href="http://http://opencv.org/"> computer vision </a> and machine learning techniques</a>
  </li>
</ul>

<h3>Employment</h3>
<hr>
<div class="row">
  <div class="col-xs-4 col-sm-4">Software Consultant</div>
  <div class="col-xs-4 col-sm-4 text-center">Co-founders Pte Ltd, Singapore <br>
    <small class="hidden-xs"> Private Company </small>
  </div>
  <div class="col-xs-4 col-sm-4 text-right">Jan 2014 - Present</div>
</div>
<ul>
  <li>
  Working with early-stage startups and companies to understand their technical needs and creating longer-term scalable solutions.
  </li>
</ul>
<div class="row">
  <div class="col-xs-4 col-sm-4">Software Engineer</div>
  <div class="col-xs-4 col-sm-4 text-center">Nugit, Singapore <br>
    <small class="hidden-xs"> Private Company; 5 employees </small>
  </div>
  <div class="col-xs-4 col-sm-4 text-right">Jan - July 2014 (7 mths)</div>
</div>
<ul>
  <li>
  Deployed a modular system architecture and integrated various saas to obtain specific features that were not our core business focus. E.g. Auth0 for user management, MongoLab for cloud mongodb, keen.io/stathat for server analytics, papertrail/flydata for logs.
  </li>
  <li>
  Implemented various Python engines as restful APIs to perform data and text analytics (bottle, numpy, pandas, textblob, requests, nosetests, etc). Created a restful API with nodejs, mongoDB, mongoose as a persistent CRUD layer between the analytics engines and the client app.
  </li>
  <li>
  Setup automated testing and continuous integration with staging/production environments via github to circleCI to heroku flow.
  </li>
</ul>
<div class="row">
  <div class="col-xs-4 col-sm-4">Solutions/Pre-sales Engineer</div>
  <div class="col-xs-4 col-sm-4 text-center">Integrated Research, Singapore <br>
    <small class="hidden-xs"> Public Company (IRI); 2 employees </small>
  </div>
  <div class="col-xs-4 col-sm-4 text-right">May - Jan 2014 (8 mths)</div>
</div>
<ul>
  <li>
  Designed and deployed system solutions to monitor large enterprise’s
  unified communications & virtualization environment.
  </li>
  <li>
  On-site customer demos to executive decision-makers.
  Collaborated with partners and end-customers to identify business & technical pains to produce customized monitoring solutions.
  </li>
  <li>
  Conducted 2-week product training courses to new partners. <br>
  Promoted the product in industry trade shows.
  </li>
</ul>

<div class="row">
  <div class="col-xs-4 col-sm-4">Software Engineer</div>
  <div class="col-xs-4 col-sm-4 text-center">Integrated Research, Sydney <br>
    <small class="hidden-xs"> Public Company (IRI); ~200 employees</small>
  </div>
  <div class="col-xs-4 col-sm-4 text-right">Feb 2011 – May 2013 (2 yrs 3mths)</div>
</div>
<ul>
  <li>
  Desktop application development in C++ and C for Prognosis (real-time cross-platform communications and infrastructure monitoring software) and in C# for the Windows configuration tool.
  </li>
  <li>
  Debugged browser memory leak in a 3rd-party charting library, reducing from exponential to logarithmic growth by freeing DOM references and reducing deeply nested views.
  Debugged and solved a bug in legacy C for a high-support tier customer (2 weeks including weeknights & weekends).
  </li>
  <li>
  Built enterprise web application ground-up using C# ASP.NET. Worked in Agile-Scrum TDD in a team of 5-7.
  </li>
  <li>
  Web languages/tools: C#, WCF (for the restful web service), FusionCharts (3rd-party lib for SVG charts), JQuery, Dojo, QUnit (JS unit tests), Selenium (web browser automation), ccm (measure JS complexity), SourceMonitor (C#, C++ complexity), SVN, Jira, Visual studio 2003/2010.
  </li>
</ul>

<div class="row">
  <div class="col-xs-4 col-sm-4">Research Scholar</div>
  <div class="col-xs-4 col-sm-4 text-center">NICTA, Sydney <br>
    <small class="hidden-xs"> Research industry; ~700 employees</small>
  </div>
  <div class="col-xs-4 col-sm-4 text-right">Dec 2009 – Mar 2010 (4 mths)</div>
</div>

<b> Project Title: </b> Appearance-based Re-identification of People in Video (surveillance videos)
<ul>
  <li>
  Implemented a height estimation module for a human re-identification system in C++ and C, with OpenCV library.
  </li>
  <li>
  Researched a method that was free of camera calibration and for single-view videos. The final implemented algorithm used vanishing points from <a href="http://www.amazon.com/Multiple-View-Geometry-Computer-Vision/dp/0521540518">projective geometry </a>. Attended annual CV camp for a week.
  </li>
</ul>

<h3>Education</h3>
<hr>
<div class="text-center row">University of Sydney </div>
<big>Bachelor of Information Technology (1st class Hons) </big> <br>
<b> Thesis: </b> Structural Image Classification with Graph Neural Networks <br>
<b> Publication: </b> <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=6128754&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6128754">Structural Image Classification with Graph Neural Networks </a> (DICTA; Dec 2011)
<br>
<b> University Honours/Awards: </b>
<ul>
  <li>
  Uni of Sydney Academic Merit Prize for the highest performing undergraduate based on average marks (2010)
  </li>
  <li>
  High Honor Roll by maintaining high distinction (over 85%) for the year (2009)
  </li>
  <li>
  Microsoft Research Asia Prize for Senior Software Development Projects Award. Built a self-assessment module for an open-source learning management system, Moodle. (2009)
  </li>
</ul>
<b>Honours Coursework: </b> Knowledge discovery and data mining (machine learning); Multimedia storage & retrieval
(feature extraction, indexing, video streaming, compression, storage structures); parallel and distributed computing <br>

{% endblock %}
